$height: 100vh;

#canvas {
  background-color: #30c0df;
  border: 10px solid #766057;
  border-style: ridge;
  position: absolute;
  margin: auto;
  height: $height * 0.7;
  width: $height * 0.7/1.5;
}
.bg {
  background-image: url("https://i.imgur.com/FmpA1dE.jpg");
  background-position: center;
  height: 100vh;
  background-size: cover;
  overflow-y: auto;
  background-repeat: no-repeat;
}
button {
  font-size: 130%;
  color: black;
  padding: 16px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}
