* {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Impact, Charcoal, sans-serif;
  letter-spacing: 2px;
}
bg {
  background-color: #000;
}
canvas {
  width: 800px;
  height: 500px;
  position: absolute;
}
a {
  text-decoration: none;
  color: #43677f;
}
div {
  z-index: 2;
  position: relative;
}
#w,
#w1 {
  width: 800px;
  height: 500px;
  margin: 0 auto;
}
#w {
  color: #fff;
  text-shadow: 2px 2px #000;
  box-shadow: 0 0 5px #222;
}
#g {
  z-index: 0;
}
#h2o {
  z-index: 1;
}
#gmo,
#hud,
#pz,
#ss {
  position: absolute;
  width: 100%;
  height: 100%;
}
#gmo,
#hud,
#pz {
  display: none;
}
#hud {
  top: 0;
  width: 100px;
}
#gmo,
#ldng,
#pz,
#ss {
  text-align: center;
}
#pz > div {
  font-size: 36px;
  background: #333;
  padding: 30px;
  margin-top: 190px;
}
#score {
  padding: 2px;
}
#hp {
  height: 8px;
  margin: 2px;
  background: #ffa2a0;
}
#power {
  height: 8px;
  margin: 2px;
  background: #585fcc;
}
#ss > div {
  background: #333;
  padding: 10px;
  width: 100%;
  position: absolute;
}
#title {
  font-size: 114px;
  top: 8vh;
  height: 140px;
}
#instr {
  font-size: 32px;
  bottom: 0;
  height: 50px;
}
.cred {
  font-size: 12px;
}
#ldng {
  background: #333;
  height: 100%;
}
#gmo > div {
  font-size: 36px;
  background: #333;
  padding: 30px;
  margin-top: 90px;
}
#fscore {
  color: #87ceff;
}
#hscore {
  color: #ffa2a0;
}
button {
  color: antiquewhite;
  padding: 13px;
  font-size: 23px;
  min-height: 80px;
  min-width: 120px;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
